.Recommendation {
  display: flex;
  padding-bottom: 8px;
}
.Recommendation h2 {
  font-weight: bold;
  margin-bottom: 4px;
}
.Recommendation > div > div {
  display: flex;
  flex-wrap: wrap;
}
.Recommendation img {
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  width: 168px;
  height: 94px;
  margin-right: 8px;
}
